.main_text_container {
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%; /* 33.6px */
  text-transform: capitalize;
  margin: 24px 20px;
}

.main_text_container span {
  color: #2c7ef8;
}

.main_text_container img {
  margin-top: 24px;
  width: 100%;
}
